body {
  background-image: url(/Users/macair/Desktop/Project/zenarate/src/images/login-background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
}